<div class="row mt-3">
    <div class="col-12 d-flex flex-row-reverse">
        <button (click)="save.emit()" class="add-btn me-2" mat-raised-button color="primary"
            [matTooltip]="'save' | translate" matTooltipPosition="above">
            <mat-icon>save</mat-icon>
            {{'save' | translate}}
        </button>

        <button class="add-btn me-2" mat-raised-button mat-dialog-close color="warn" [matTooltip]="'cancel' | translate"
            matTooltipPosition="above">
            <mat-icon>cancel</mat-icon>
            {{'cancel' | translate}}
        </button>
    </div>
</div>