<form class="login p-3">
  <div class="row">
    <div class="col-12 text-center">
      <mat-icon color="primary" class="icon">supervised_user_circle</mat-icon>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <h1>{{ "login" | translate }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-form-field class="dynamic" appearance="standard">
        <mat-label>{{ "user_name" | translate }}</mat-label>
        <input matInput [placeholder]="'user_name' | translate" />
        <mat-icon color="primary" matSuffix>supervisor_account</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-form-field class="dynamic" appearance="standard">
        <mat-label>{{ "password" | translate }}</mat-label>
        <input
          type="password"
          matInput
          [placeholder]="'password' | translate"
        />
        <mat-icon color="primary" matSuffix>no_encryption</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-6">
      <mat-checkbox color="primary">{{
        "remember_me" | translate
      }}</mat-checkbox>
    </div>
    <div class="col-6 d-flex flex-row-reverse">
      <a routerLink="">{{ "forgot_password" | translate }}</a>
    </div>
  </div>

  <div class="row mt-4 mb-2">
    <div class="col-12">
      <button
        type="button"
        (click)="login()"
        mat-raised-button
        color="primary"
        [matTooltip]="'login' | translate"
        matTooltipPosition="above"
      >
        {{ "login" | translate }}
      </button>
    </div>
  </div>
</form>
