<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <app-side-menu></app-side-menu>
  </mat-drawer>

  <main class="app-main">
    <app-nav-bar [drawer]="drawer"></app-nav-bar>

    <div class="app-bread-crum">
      <app-bread-crum></app-bread-crum>
    </div>

    <div class="app-content">
      <ngx-spinner bdColor="rgba(0, 0, 0, 0.9)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="false">
        <p class="loading"> {{'loading' | translate}} </p>
      </ngx-spinner>

      <router-outlet></router-outlet>
    </div>
  </main>
</mat-drawer-container>