<div class="row">
    <div *ngFor="let input of data.inputs" class="col-md-6">

        <span [ngSwitch]="input.type">
            <mat-form-field *ngSwitchCase="'text'" appearance="standard">
                <mat-label>{{input.label | translate}}</mat-label>
                <input matInput [placeholder]="input.placeholder">
                <mat-icon matSuffix>{{input.icon}}</mat-icon>
            </mat-form-field>

            <p *ngSwitchDefault>
                no hay nada
            </p>
        </span>
    </div>
</div>