/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f3f4;
}

/* You can add global styles to this file, and also import other style files */
.app {
  display: flex;
  min-height: 100vh;
}

.mat-drawer-container {
  background-color: #f2f2f2;
}

.mat-drawer {
  position: fixed !important;
  z-index: 1 !important;
  top: 0 !important;
  left: 0 !important;
  margin-top: 63px !important;
  height: 100% !important;
  border-right: 1px solid #ddd !important;
  width: 200px !important;
  flex-shrink: 0 !important;
  background-color: white !important;
}

.app-main {
  flex: 1;
}

.app-bread-crum {
  background-color: white;
  margin-top: 85px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.app-content {
  position: relative;
  background-color: white;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.metismenu,
.metismenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.metismenu a {
  display: block;
  padding: 1rem;
  color: #3f51b5;
  text-decoration: none;
}

.metismenu a:hover {
  color: crimson;
}

.metismenu ul a {
  padding-left: 3rem;
}

.faq-link {
  cursor: pointer;
  padding: 15px;
  background: #212529;
  color: #adb5bd;
}

.faq-item.mm-active > .faq-link {
  background-color: #d9480f;
  color: #f8f9fa;
}

.metismenu-selected {
  color: crimson !important;
}

.loading {
  color: white;
  padding-top: 70px;
}

h1 {
  color: #3f51b5;
}

.primary {
  color: #3f51b5;
}
